
body h3{
    font-size: 1.6rem;
    font-weight: 200;
    color: #00a7de;
    margin-top: 1.3em;
  }
  .aboutbg {
    background: url("../../assets/images/TSSPL.png");
    width: 100%;
    margin: auto;
    min-height: 20vh;
    padding: 50px;
    color: white;
    margin-bottom: 50px;
  }
  .about-column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
    line-height: 2.5rem;
  }
  .content h2{
    font-weight:100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.75em;
    margin-top: 1.3em;
  }
  .content p{
    font-size: 1.2rem;
    margin-top: .5em;
  }